/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

#projects-page-button {
    /* Text */
    color: #FFFFFF;
}


/* ==========================================================================
   Classes
   ========================================================================== */

.project-box {
    /* Display */
    display: inline-block;
    width: 440px;
    padding: 20px;
    background: var(--dark);
}

.project-logo {
    /* Display */
    width: 400px;
}