/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

/* Page Button */
#projects-page-button {
    /* Text */
    color: #FFFFFF;
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Project Boxes */
.project-box {
    /* Display */
    display: inline-block;
    width: 400px;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    background: var(--dark);
}
.project-logo {
    /* Display */
    width: 400px;
    border-radius: 20px;
}
.project-title {
    /* Display */
    margin: 20px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--highlight);
}
.project-tagline {
    /* Display */
    margin: 10px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 28px;
    color: var(--light);
}
.project-tag {
    /* Display */
    display: inline-block;
    height: 30px;
    padding: 0 10px;;
    border-radius: 10px;
    margin: 10px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 24px;
}
.project-text {
    /* Display */
    margin: 10px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 26px;
    color: var(--light);
}
.language-bar {
    /* Display */
    display: inline-block;
    vertical-align: top;
    height: 60px;
    padding: 10px 0;
    margin: 10px 0;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 24px;
}

/* Project Pages */
.project-page-logo {
    /* Display */
    width: 60%;
    border: 20px solid var(--dark);
    margin: 10px;
}
.project-page-link {
    /* Display */
    margin: 10px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 32px;
    color: var(--light);
}
.project-page-image {
    /* Display */
    width: 80%;
    border: 20px solid var(--dark);
    margin: 10px;
}