/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

#projects-page-button {
    /* Text */
    color: #FFFFFF;
}
#title-archived {
    /* Text */
    text-decoration: underline;
}


/* ==========================================================================
   Classes
   ========================================================================== */

.project-title {
    /* Display */
    margin: 20px 0 0 0;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 30px;
    color: var(--medium);
}