/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

/* All Projects Box */
#all-projects-box {
    /* Display */
    display: inline-block;
    width: 80%;
    height: 250px;
    padding: 0 20px 20px 20px;
    border-radius: 30px;
    margin: 20px 0;
    background-color: var(--dark);
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Archived Project Tiles */
.archived-project-box {
    /* Display */
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 600px;
    padding: 0 20px 20px 20px;
    border-radius: 30px;
    margin: 20px;
    background-color: var(--dark);
}
.archived-project-date {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 24px;
    color: var(--light);
}
.archived-project-description {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 24px;
    color: var(--medium);
}
.archived-project-link {
    /* Display */
    width: 100%;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 24px;
    text-decoration: underline;
    color: var(--light);
}