/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

/* Project */
#all-projects-box {
    /* Display */
    height: 250px;
    width: 80%;
    margin-top: 0;
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Project */
.project-box {
    /* Display */
    display: inline-block;
    vertical-align: top;
    width: 500px;
    height: 500px;
    margin: 60px 10px 0 10px;
    background-color: var(--dark-blue);
}
.project-title {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--yellow);
}
.project-date {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 24px;
    color: var(--light-blue);
}
.project-description {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 22px;
    color: var(--medium-grey);
}
.project-link {
    /* Display */
    width: 100%;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 24px;
    text-decoration: underline;
    color: var(--medium-grey);
}
.project-link:hover {
    color: var(--off-white);
}