/* ==========================================================================
   IDs
   ========================================================================== */

#about-me-page-button {
    /* Text */
    color: #FFFFFF;
}


/* ==========================================================================
   Classes
   ========================================================================== */

.counter {
    /* Display */
    margin: 10px;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 32px;
    color: var(--highlight);
}