/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

/* Page Button */
#statistics-page-button {
    /* Text */
    color: #FFFFFF;
}

/* Legend */
#legend-box {
    /* Display */
    display: inline-block;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--dark);
}

/* Project Bar Chart */
#projects-bar-chart {
    /* Display */
    display: inline-block;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--dark);
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Legend */
.legend-item {
    /* Display */
    display: inline-block;
    height: 30px;
    padding: 35px 0;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 30px;
}

/* Bar Chart */
.bars-container {
    /* Display */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.chart-bar {
    /* Display */
    height: 100%;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 28px;
}