/* ==========================================================================
   Variables
   ========================================================================== */
@import "./styles.css";


/* ==========================================================================
   IDs
   ========================================================================== */

/* Page Button */
#statistics-page-button {
    /* Text */
    color: #FFFFFF;
}

/* Legend */
#legend-box {
    /* Display */
    display: inline-block;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--dark);
}

/* Project Bar Chart */
#projects-bar-chart {
    /* Display */
    display: inline-block;
    width: 80%;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--dark);
}


/* ==========================================================================
   Classes
   ========================================================================== */

/* Legend */
.legend-item {
    /* Display */
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 35px 0;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 30px;
}

/* Bar Chart */
.bars-container {
    /* Display */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
}
.chart-bar {
    /* Display */
    height: 100%;
    white-space: pre;
    /* Text */
    font-family: var(--sans-serif);
    font-size: 28px;
}

/* Tiles */
.stats-box {
    /* Display */
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 620px;
    padding: 20px;
    border-radius: 30px;
    margin: 20px;
    background: var(--dark);
}
.stats-title {
    /* Display */
    margin: 20px;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 36px;
    color: var(--light);
}
.stats-pie {
  width: 360px;
  height: 360px;
  border-radius: 50%;
  margin: 20px;
}
.stats-legend {
    /* Display */
    padding: 10px;
    margin: 0;
    /* Font */
    font-family: var(--sans-serif);
    font-size: 26px;
    text-align: left;
}